$body-bg: #eaf0f7;
$primary: #673ab7;
$white: #ffffff;
$gray: #474747;
$light-gray: #dcddea;
$text-primary: #673ab7;
$primary-gray:#673ab7cc;
$color_orange: #ffa442;
$color_blue: #4b64ff;
$color_red: #ff4b4b;
$color_green: #40c952;