.video-div {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    min-height     : calc(100vh - 60px);;
    background     : #0f0f0ff2;
}

video {
    width: 65vw;
}
