<section class="content">
  <div class="content-block">
    <div class="block-header">
      <div class="breadcrumb-main">
        <div class="row">
          <div class="col-6">
            <div class="breadcrumb-title">
              <h2>{{'USER_PAGE_PERMISSION_TO' | translate}} : <span class="text-info">{{user?.firstName}}
                  {{user?.lastName}}</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <div class="row margin-2">
              <div class="col-sm-12">
                <h4 class="widget-title">{{'PERMISSION' | translate}}</h4>
                <mat-checkbox color="primary" (change)="selecetAll($event)">
                  {{'SELECT_ALL' | translate}}
                </mat-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div fxLayout="row wrap" *ngFor='let page of pages; let i=index'>
                  <div fxFlex="100" fxFlex.sm="100">
                    <mat-checkbox color="primary" (change)="onPageSelect($event,page)">
                      <b> {{page.name.replaceAll(' ', '_').toUpperCase() | translate}}</b>
                    </mat-checkbox>
                  </div>
                  <div class="row m-l-15">
                    <div class="col-sm-3 row" *ngFor='let action of page.pageActions'>
                      <mat-checkbox color="primary" [checked]="checkPermission(action.id)"
                        (change)="onPermissionChange($any($event),page,action)">
                        {{action.name.replaceAll(' ', '_').toUpperCase() | translate}}
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 mt-2">
                <button class="btn btn-success btn-sm m-r-10" (click)="saveUserClaim()" cdkFocusInitial>
                  <i class="fas fa-save"></i> {{'SAVE' | translate}}
                </button>
                <button class="btn btn-danger btn-sm" [routerLink]="['/users']">
                  <i class="fas fa-times-circle"></i> {{'CANCEL' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>