<div class="d-flex">
  <h2 mat-dialog-title><mat-icon>folder</mat-icon> {{data.name}}'s {{'COMMENT' | translate}}</h2>
  <button mat-icon-button class="close-button ms-auto" (click)="closeDialog()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">
        <div *ngFor="let documentComment of documentComments" class="list-group-item list-group-item-action"
          aria-current="true">
          <h6 class="m-b-1">
            {{documentComment.comment}}
            <span role="button" class="badge" (click)="onDelete(documentComment.id)">
              <i class="large fas fa-trash text-danger "></i>
            </span>
          </h6>
          <div class="w-100">
            <small class="m-r-10">
              {{documentComment.createdDate | utcToLocalTime:'short'}}
            </small>
            <small class="text-primary">{{documentComment?.createdByName}}
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="commentForm" class="mt-3">
        <div class="row">
          <div class="col-md-12 m-t-10">
            <textarea class="form-control" formControlName="comment" rows="3"></textarea>
            <div class="text-danger"
              *ngIf="commentForm.get('comment').touched && commentForm.get('comment').hasError('required')">
              {{'COMMENT_IS_REQUIRED' | translate}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 m-t-10">
            <button (click)="addComment()" type="submit" class="btn btn-success m-r-10">
              <i class="fas fa-paper-plane"></i>
              {{'ADD_COMMENT' | translate}}
            </button>
            <button (click)="closeDialog()" type="submit" class="btn btn-danger">
              <i class="fas fa-times-circle"></i>
              {{'CANCEL' | translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>