.confirm-title-text {
    color: #666 !important;
    font-weight: normal !important;
}

.confirm-dialog-title {
    padding-left: 0.5rem !important;
    padding-top: 0rem !important;
}

.confirm-dialog-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0.5rem !important;
}